package route

import (
	"github.com/labstack/echo"
	"github.com/labstack/echo/middleware"
	"../engine"
  {{range $index, $plugin := .}}
	plugin{{$index}} "../plugins/{{$plugin}}"{{end}}
)

func Init() *echo.Echo {
	e := echo.New()
	// Debug
	e.Debug()
	// Setup Middleware
	e.Use(middleware.Logger())  // Log HTTP requests
	e.Use(middleware.Recover()) // Recover from panics
	e.Use(middleware.Gzip())    // Send gzip HTTP response
	
  {{range $index, $plugin := .}}
  p{{$index}} := e.Group("/{{$plugin}}")
  plugin{{$index}}.Init(p{{$index}})
  {{end}}
  
  engine.AddTemplate("templates/footer.tmpl")
  engine.AddTemplate("templates/header.tmpl")
	e.SetRenderer(engine.NewRenderer())	
	e.Static("/statics", "statics")
	
	return e
}
