{{define "footer"}}
    <script src="/statics/lib/riot-2.3.18.js" type="text/javascript"></script>
    <script src="/statics/rouge.js" type="text/javascript"></script> 
    <script src="/statics/themes/{{.Theme}}/tags.js" type="text/javascript"></script>
    <script type="text/javascript">
      riot.mount('*');
    </script>
  </body>
</html>
{{end}}