{{define "header:paper@hackm"}}
<!DOCTYPE  html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <title>{{.Meta.Title}}</title>
    <meta name="description" content="{{.Meta.Description}}">
  </head>
  <body>
{{end}}